body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-card {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 500px;
    max-width: 800px;
}

.login-left {
    background-color: #e6e6fa;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.login-left img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.login-left h2 {
    font-size: 24px;
    color: #000080;
    font-weight: bold;
    margin: 0;
    transition: transform 0.3s;
}

.login-right {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff;
    height: 500px;
     max-width: 800px;
   
}

.login-right input {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #000080;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #3a62e7;
}

footer {
    margin-top: 20px;
    font-size: 16px;
    color: #666666;
}

.login-card:hover .login-left h2 {
    transform: translateY(-10px);
}


